*
{
  margin: 0px;
  padding: 0px;
}

header
{
  background-color: rgb(58, 173, 211);
  width: 100%;
  padding: 30px;
  text-align: center;
  margin-bottom: 5%;
}

.content img
{
  width: 250px;
  height: 130px;
  transition: .2s ease-in;
  margin-bottom: 5%;
}

.content img:hover
{
  transform: scale(1.25);
}

body
{
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

.text
{
  width: 75%;
  margin-left: 12.5%;
  text-align: justify;
}

img
{
  margin: 25px;
}

.content
{
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
}