body
{
    background-image: url("https://cdn.discordapp.com/attachments/498883392016744461/758375474052988968/game_report.png");
    font-family: arial;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;

}

.column {
    float: left;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.5);*/
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  
}

.ifrm
{
  width: 800px;
  padding: 20px;
}

h1
{
    color: #999;
    background: #263257;
    padding: 0px;  
}

h2
{
    color: #999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

/*a
{
    color:lightgrey;
    background: rgba(0, 0, 0, 0.5);
}*/

p
{
  line-height: 9px;
}